/* Body */
.background {
	background-image: url("../images/world.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
}
/*Header*/
h1{
	font-family: 'Permanent Marker', cursive;
	color:#ff4e37;
	font-size: 130px;
	margin-top:20px;
	margin-bottom:15px;
	text-shadow: 4px 0 #feec82;
}

/*Content*/
.start{
	color: white;
	font-family: 'Roboto', sans-serif;
}

#random-word {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 100px;
	color: white;
	font-family: 'Roboto', sans-serif;
}
.stats{
	background-color: #0c2933;
	padding:50px;
	outline-style: dotted;
    outline-color: #feec82;
}
.stats-middle{
	background-color: #feec82;
	padding:50px;
	outline-style: dotted;
    outline-color: #0c2933;
}
#letters {
	color: #000000;
	font-family: 'Roboto', sans-serif;
}
#wins, #guesses{
	color:white;
	font-family: 'Roboto', sans-serif;
}

/*End of Content*/

/*Making h1 and wins responsive to mobile devices*/
@media screen and (max-width: 640px) {
    h1{
        font-size:60px;
    }
    #wins{
    	text-align: left;
    }
}