/*Body styling*/
.container{
	margin: auto;
	padding: auto;
}

/*Header*/
h1{
	font-family: 'Permanent Marker', cursive;
	color:#bd0b0b;
	font-size: 120px;
	text-align: center;
	text-shadow: 0 0 4px white;
}

/*Content*/
.start{
	text-align: center;
	color: white;
	font-family: 'Oswald', sans-serif;
}

.category {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 200px;
	color: white;
	font-family: 'Oswald', sans-serif;
}
h3{
	color:white;
	font-family: 'Oswald', sans-serif;
}

#wins{
	text-align: center;
}
/*End of Content*/

/*Making h1 and wins responsive to mobile devices*/
@media screen and (max-width: 640px) {
    h1{
        font-size:60px;
    }
    #wins{
    	text-align: left;
    }
}